* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-messege {
    width: 350px;
    height: 250px;
    background: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    top: -1500px;
    left: 42%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: top .5s;
}

.error-messege h2 {
    text-align: center;
}

@media only screen and (max-width: 720px) {
    .error-messege {
        left: 10%;
    }
}